* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.card {
  width: 220px;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-left: 5em;
  margin-top: 2em;
  flex-grow: 1;
}

.card-border {
  border: 8px solid #e5ff00;
}
.card:hover {
  border: 8px solid #e5ff00;
}
.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.cardBody {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  align-items: center;
}

.card:hover .cardBody {
  right: 0;
}
.cardTitle {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.cardSubTitle {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 300;
}

.cardInfo {
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  margin: 40px 10px;
  font-weight: 100;
}

/**Button hover effect **/
.btn {
  font-size: 10px;
  font-weight: bold;
  background: #1e90ff;

  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
