:root {
  --background-blue: #D8F0FA;
  --white: #FFFFFF;
  --black: #000000;
  --like: #FF8DCC;
  --grey-text: #3C3C3C;
  --light-yellow: #FBF4E2;
  --light-purple: #DED7FB;
  --hover-grey: #eeeeee;
  --hover-blue: #88b4c7;
  --hover-purple: #aba0d7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  background-color: var(--background-blue);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}