@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.loginContainer {
    padding: 0; /* eliminate all margin and padding first */
    margin: 0;
    box-sizing: border-box; /* include any border and papdding */
}

.loginContainer, input {
    font-family: 'Poppins', sans-serif;
}

.registerLoginBody {
    position: relative; /* relative position */
    width: 100%;
    min-height: 100vh; /* minimum height of an element */
    /* occupy 100 percent of the web browser's viewport height */
    background-color: #D8F0FA;
    overflow: hidden;
}

.loginContainer {
    position: relative; /* relative position */
    width: 100%;
    min-height: 100vh; /* minimum height of an element */
    /* occupy 100 percent of the web browser's viewport height */
    background-color: #D8F0FA;
    overflow: hidden;
}

.panelsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../public/assets/ali-test.svg);
    /* background-image: url(../assets/world.svg); */
    background-repeat: no-repeat;
    background-position: -1000px top;
    z-index: 1;
}

.panelsTopContainer {
    position: absolute;
    width: 60%;
    height: 100%;
    background-image: url(../../public/assets/travelers.svg);
    /* background-image: url(../assets/world.svg); */
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 1;
}

.formContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signinSignup {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 50%;
    z-index: 2;
}

.signUpGroup {
    top: 10%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.inputField {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;  /* the same as its own height */

    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .7rem;
}

.inputField i {
    text-align: center;
    line-height: 55px; /* make it center */
    color: #acacac;
    font-size: 1.1rem;
}

.inputField input {
    background: none;
    border: none; /* normal border*/
    outline: none; /* border when click */
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}



.inputField input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #5995fd;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 20px 0;
    transition: .3s; /* animation */
}

.btn:hover {
    background-color: #9146FF;
}

.socialText,
.signiSignupText {
    padding: .7rem 0;
    font-size: 1.1rem;
}

.socialMedia,
.signinSignupLink {
    display: flex;
    justify-content: center;
}
.forgetPasswordLink {
    display: flex;
    justify-content: end;
}
.signinSignupLink {
    margin-top: 10px;
}

.socialIcon {
    height: 46px;
    width: 46px;
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    margin: 0 .5rem;
    border-radius: 46px;;
}

.socialIcon:hover {
    color: #9146FF;
    border-color: #4481eb;
}

@media (max-width: 1500px) {

    .panelsContainer,
    .panelsTopContainer {
        /* width: 50%; */
        /* background-image: none; */
        /* transform: translate(-20%, 0%); */
        transform: translateX(-10%);
        /* background-position: -1400px center; */
        /* transition: .3s .3s ease-in-out; */
    }

    /* .panelsContainer:before {
        transform: translate(-10%, 0%);
        transition: .5s 0.4s ease-in-out;
    } */
}

@media (max-width: 1300px) {

    .panelsContainer,
    .panelsTopContainer {
        width: 100%;
        /* background-image: none; */
        /* transform: translate(-40%, 0%); */
        transform: translateX(-30%);
        /* background-position: -1400px center; */
        /* transition: .3s .3s ease-in-out; */
    }
}

@media (max-width: 1000px) {

    .panelsContainer,
    .panelsTopContainer {
        /* background-image: none; */
        transform: translate(-40%, 0%);
        /* background-position: -1400px center; */
        /* transition: .3s .3s ease-in-out; */
    }
}


@media (max-width: 870px) {
    .container {
      min-height: 800px;
      height: 100vh;
    }
    .signinSignup {
      width: 100%;
      top: 80%;
      transform: translate(-50%, -100%);
      /* transition: .5s 0.4s ease-in-out; */
    }
  
    .signiSignup,
    .container.signUpMode .signinSignup {
      left: 50%;
    }

    .panelsContainer {
        background-image: none;
    }

    .panelsTopContainer {
        background-image: none;
    }
}